<?xml version="1.0"?>

<robot name="wf_tron2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.0"/>

    <!-- IMU parameters -->
    <xacro:property name="imu_mass" value="0.01"/>

    <!-- Base Link parameters -->
    <xacro:property name="base_mass" value="8.04083"/>
    <xacro:property name="base_com_x" value="0.00701"/>
    <xacro:property name="base_com_y" value="4e-05"/>
    <xacro:property name="base_com_z" value="0.10026"/>
    <xacro:property name="base_ixx" value="0.06521"/>
    <xacro:property name="base_ixy" value="0.00026"/>
    <xacro:property name="base_ixz" value="0.00155"/>
    <xacro:property name="base_iyy" value="0.06713"/>
    <xacro:property name="base_iyz" value="-1e-05"/>
    <xacro:property name="base_izz" value="0.05827"/>

    <!-- Abad Link parameters (left) -->
    <xacro:property name="abad_mass" value="2.42561"/>
    <xacro:property name="abad_com_x" value="0.00951"/>
    <xacro:property name="abad_com_y" value="0.05904"/>
    <xacro:property name="abad_com_z" value="-0.00467"/>
    <xacro:property name="abad_ixx" value="0.00389"/>
    <xacro:property name="abad_ixy" value="-8e-05"/>
    <xacro:property name="abad_ixz" value="8e-05"/>
    <xacro:property name="abad_iyy" value="0.00414"/>
    <xacro:property name="abad_iyz" value="4e-05"/>
    <xacro:property name="abad_izz" value="0.00404"/>

    <!-- Hip Link parameters (left) -->
    <xacro:property name="hip_mass" value="0.50271"/>
    <xacro:property name="hip_com_x" value="-0.06846"/>
    <xacro:property name="hip_com_y" value="0.00027"/>
    <xacro:property name="hip_com_z" value="-0.0321"/>
    <xacro:property name="hip_ixx" value="0.00125"/>
    <xacro:property name="hip_ixy" value="0"/>
    <xacro:property name="hip_ixz" value="1e-05"/>
    <xacro:property name="hip_iyy" value="0.00205"/>
    <xacro:property name="hip_iyz" value="1e-05"/>
    <xacro:property name="hip_izz" value="0.00131"/>

    <!-- Yaw Link parameters (left) -->
    <xacro:property name="yaw_mass" value="3.43624"/>
    <xacro:property name="yaw_com_x" value="-0.07354"/>
    <xacro:property name="yaw_com_y" value="-0.00574"/>
    <xacro:property name="yaw_com_z" value="-0.1532"/>
    <xacro:property name="yaw_ixx" value="0.02949"/>
    <xacro:property name="yaw_ixy" value="-0.00017"/>
    <xacro:property name="yaw_ixz" value="-0.01187"/>
    <xacro:property name="yaw_iyy" value="0.03527"/>
    <xacro:property name="yaw_iyz" value="-0.00034"/>
    <xacro:property name="yaw_izz" value="0.0104"/>

    <!-- Knee Link parameters (left) -->
    <xacro:property name="knee_mass" value="1.9798"/>
    <xacro:property name="knee_com_x" value="0.10281"/>
    <xacro:property name="knee_com_y" value="0.04222"/>
    <xacro:property name="knee_com_z" value="-0.21372"/>
    <xacro:property name="knee_ixx" value="0.0295"/>
    <xacro:property name="knee_ixy" value="-0.00206"/>
    <xacro:property name="knee_ixz" value="0.01308"/>
    <xacro:property name="knee_iyy" value="0.0354"/>
    <xacro:property name="knee_iyz" value="0.00428"/>
    <xacro:property name="knee_izz" value="0.00858"/>

    <!-- Wheel Link parameters -->
    <xacro:property name="wheel_mass" value="0.75"/>
    <xacro:property name="wheel_com_x" value="0.00012"/>
    <xacro:property name="wheel_com_y" value="0.004"/>
    <xacro:property name="wheel_com_z" value="-0.00064"/>
    <xacro:property name="wheel_ixx" value="0.00236"/>
    <xacro:property name="wheel_ixy" value="0"/>
    <xacro:property name="wheel_ixz" value="1e-05"/>
    <xacro:property name="wheel_iyy" value="0.00447"/>
    <xacro:property name="wheel_iyz" value="0"/>
    <xacro:property name="wheel_izz" value="0.00231"/>

    <!-- Joint positions and orientations -->
    <!-- Abad joint position -->
    <xacro:property name="abad_offset_x" value="-0.00049"/>
    <xacro:property name="abad_offset_y" value="0.10649"/>
    <xacro:property name="abad_offset_z" value="0.0586"/>

    <!-- Hip joint position -->
    <xacro:property name="hip_offset_x" value="0.0448"/>
    <xacro:property name="hip_offset_y" value="0.062"/>
    <xacro:property name="hip_offset_z" value="-0.02152"/>

    <!-- Yaw joint position -->
    <xacro:property name="yaw_offset_x" value="-0.0936"/>
    <xacro:property name="yaw_offset_y" value="0.0"/>
    <xacro:property name="yaw_offset_z" value="-0.08006"/>

    <!-- Knee joint position -->
    <xacro:property name="knee_offset_x" value="-0.10276"/>
    <xacro:property name="knee_offset_y" value="-0.04115"/>
    <xacro:property name="knee_offset_z" value="-0.21389"/>

    <!-- Wheel joint position -->
    <xacro:property name="wheel_offset_x" value="0.15161"/>
    <xacro:property name="wheel_offset_y" value="0.09165"/>
    <xacro:property name="wheel_offset_z" value="-0.31546"/>

    <!-- Joint limits -->
    <!-- Abad joint limits -->
    <xacro:property name="abad_lower" value="-3.5894441396515377"/>
    <xacro:property name="abad_upper" value="2.1526890994098062"/>
    <xacro:property name="abad_effort" value="140"/>
    <xacro:property name="abad_velocity" value="12.57"/>

    <!-- Hip joint limits -->
    <xacro:property name="hip_L_lower" value="-0.2605776573227534"/>
    <xacro:property name="hip_L_upper" value="2.1131489961203007"/>
    <xacro:property name="hip_R_lower" value="-2.1131489961203007"/>
    <xacro:property name="hip_R_upper" value="0.2605776573227534"/>
    <xacro:property name="hip_effort" value="140"/>
    <xacro:property name="hip_velocity" value="12.57"/>

    <!-- Yaw joint limits -->
    <xacro:property name="yaw_L_lower" value="-2.705260340591211"/>
    <xacro:property name="yaw_L_upper" value="1.4835298641951802"/>
    <xacro:property name="yaw_R_lower" value="-1.4835298641951802"/>
    <xacro:property name="yaw_R_upper" value="2.705260340591211"/>
    <xacro:property name="yaw_effort" value="40"/>
    <xacro:property name="yaw_velocity" value="31.83"/>

    <!-- Knee joint limits -->
    <xacro:property name="knee_lower" value="-1.7221163729428048"/>
    <xacro:property name="knee_upper" value="3.5138713830401835"/>
    <xacro:property name="knee_effort" value="140"/>
    <xacro:property name="knee_velocity" value="12.57"/>

    <!-- Wheel joint limits -->
    <xacro:property name="wheel_lower" value="-1745329.2519943293"/>
    <xacro:property name="wheel_upper" value="1745329.2519943293"/>
    <xacro:property name="wheel_effort" value="22"/>
    <xacro:property name="wheel_velocity" value="41.89"/>

    <!-- Hip joint axis for left and right legs -->
    <xacro:property name="hip_axis_x" value="0.90138"/>
    <xacro:property name="hip_axis_y" value="0"/>
    <xacro:property name="hip_axis_z" value="-0.43303"/>

    <!-- Yaw joint axis for left and right legs -->
    <xacro:property name="yaw_axis_x" value="0.43303"/>
    <xacro:property name="yaw_axis_y" value="0"/>
    <xacro:property name="yaw_axis_z" value="0.90138"/>

</robot> 