<?xml version="1.0"?>
<robot name="bipedal_robot">

  <!-- Materials -->
  <material name="grey">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="orange">
    <color rgba="1.0 0.423 0.039 1.0"/>
  </material>

<!-- ros_control plugin -->
  <gazebo>
    <plugin filename="libtron2_hw_sim.so" name="gazebo_ros_control">
      <robotNamespace>/</robotNamespace>
      <robotParam>robot_description</robotParam>
      <robotSimType>tron2_gazebo/Tron2HWSim</robotSimType>
    </plugin>
  </gazebo>

  <!-- Ground truth pose plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros_p3d.so" name="p3d_base_controller">
      <alwaysOn>true</alwaysOn>
      <updateRate>1000.0</updateRate>
      <bodyName>base_Link</bodyName>
      <topicName>ground_truth/state</topicName>
      <gaussianNoise>0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>
  <!-- Links -->
  <!-- IMU Link -->
  <joint name="limx_imu_joint" type="fixed">
    <origin rpy="0. 0. 0." xyz="0. 0. 0."/>
    <parent link="base_Link"/>
    <child link="limx_imu"/>
  </joint>

  <link name="limx_imu">
    <inertial>
      <mass value="0.01"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.015 0.015 0.004"/>
      </geometry>
      <material name="orange"/>
    </visual>
  </link>

  <gazebo reference="limx_imu_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>

  <link name="base_Link">
    <inertial>
      <origin xyz="6.56E-03 1.00E-03 120.55E-03" rpy="0 0 0"/>
      <mass value="10.94"/>
      <inertia ixx="108145.92E-06" ixy="704.38E-06" ixz="1803.29E-06"
               iyy="111887.60E-06" iyz="1102.26E-06" izz="79680.23E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/base_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/base_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="abad_L_Link">
    <inertial>
      <origin xyz="-5.85E-03 66.36E-03 -0.40E-03" rpy="0 0 0"/>
      <mass value="2.16"/>
      <inertia ixx="4618.32E-06" ixy="6.91E-06" ixz="8.37E-06"
               iyy="3626.60E-06" iyz="1.88E-06" izz="3719.21E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/abad_L_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/abad_L_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="hip_L_Link">
    <inertial>
      <origin xyz="34.54E-03 0.74E-03 -55.37E-03" rpy="0 0 0"/>
      <mass value="0.62"/>
      <inertia ixx="1619.88E-06" ixy="-6.77E-06" ixz="59.21E-06"
               iyy="2291.05E-06" iyz="-2.59E-06" izz="1633.77E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/hip_L_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/hip_L_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="yaw_L_Link">
    <inertial>
      <origin xyz="2.94E-03 -0.09E-03 -82.63E-03" rpy="0 0 0"/>
      <mass value="1.82"/>
      <inertia ixx="14071.04E-06" ixy="-1.81E-06" ixz="379.81E-06"
               iyy="13712.50E-06" iyz="-33.38E-06" izz="3049.24E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/yaw_L_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/yaw_L_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="knee_L_Link">
    <inertial>
      <origin xyz="0.24E-03 34.39E-03 -149.48E-03" rpy="0 0 0"/>
      <mass value="3.39"/>
      <inertia ixx="76325.31E-06" ixy="18.90E-06" ixz="69.76E-06"
               iyy="76856.07E-06" iyz="750.49E-06" izz="3849.86E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/knee_L_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/knee_L_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="foot_L_Link">
    <inertial>
      <origin xyz="16.91E-03 -35.89E-03 -44.54E-03" rpy="0 0 0"/>
      <mass value="0.90"/>
      <inertia ixx="1251.64E-06" ixy="18.43E-06" ixz="147.38E-06"
               iyy="2964.03E-06" iyz="-86.93E-06" izz="3346.69E-06"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/foot_L_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/foot_L_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="yaw_R_Link">
    <inertial>
      <origin xyz="0.00294 9e-05 -0.08263" rpy="0 0 0"/>
      <mass value="1.82"/>
      <inertia ixx="0.01407104" ixy="1.81e-06" ixz="0.00037981"
               iyy="0.0137125" iyz="3.338e-05" izz="0.00304924"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/yaw_R_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/yaw_R_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="foot_R_Link">
    <inertial>
      <origin xyz="0.01691 0.03589 -0.04454" rpy="0 0 0"/>
      <mass value="0.90"/>
      <inertia ixx="0.00125164" ixy="-1.843e-05" ixz="0.00014738"
               iyy="0.00296403" iyz="8.693e-05" izz="0.00334669"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/foot_R_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/foot_R_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="hip_R_Link">
    <inertial>
      <origin xyz="0.03454 -0.00074 -0.05537" rpy="0 0 0"/>
      <mass value="0.62"/>
      <inertia ixx="0.00161988" ixy="6.77e-06" ixz="5.921e-05"
               iyy="0.00229105" iyz="2.59e-06" izz="0.00163377"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/hip_R_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/hip_R_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="knee_R_Link">
    <inertial>
      <origin xyz="0.00024 -0.03439 -0.14948" rpy="0 0 0"/>
      <mass value="3.39"/>
      <inertia ixx="0.07632531" ixy="-1.89e-05" ixz="6.976e-05"
               iyy="0.07685607" iyz="-0.00075049" izz="0.00384986"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/knee_R_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/knee_R_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="abad_R_Link">
    <inertial>
      <origin xyz="-0.00585 -0.06636 -0.0004" rpy="0 0 0"/>
      <mass value="2.16"/>
      <inertia ixx="0.00461832" ixy="-6.91e-06" ixz="8.37e-06"
               iyy="0.0036266" iyz="-1.88e-06" izz="0.00371921"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/abad_R_Link.STL"/>
      </geometry>
      <material name="grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="../meshes/abad_R_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <!-- Joints -->
  <joint name="abad_L_Joint" type="revolute">
    <origin xyz="-0.00045 0.09949 0.06046" rpy="0 0 0"/>
    <parent link="base_Link"/>
    <child link="abad_L_Link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.141592653589793" upper="2.600540585471551" effort="130" velocity="12.57"/>
  </joint>

  <joint name="hip_L_Joint" type="revolute">
    <origin xyz="-0.0416 0.0681 0.0" rpy="0 0 0"/>
    <parent link="abad_L_Link"/>
    <child link="hip_L_Link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-0.2617993877991494" upper="2.9670597283903604" effort="130" velocity="12.57"/>
  </joint>

  <joint name="yaw_L_Joint" type="revolute">
    <origin xyz="0.0416 0.0 -0.1142" rpy="0 0 0"/>
    <parent link="hip_L_Link"/>
    <child link="yaw_L_Link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.5235987755982988" upper="4.625122517784973" effort="60" velocity="14.66"/>
  </joint>

  <joint name="knee_L_Joint" type="revolute">
    <origin xyz="0.0 -0.03432 -0.2366" rpy="0 0 0"/>
    <parent link="yaw_L_Link"/>
    <child link="knee_L_Link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.5235987755982988" upper="2.6179938779914944" effort="60" velocity="14.66"/>
  </joint>

  <joint name="foot_L_Joint" type="revolute">
    <origin xyz="0.0 0.07148 -0.35" rpy="0 0 0"/>
    <parent link="knee_L_Link"/>
    <child link="foot_L_Link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.6929693744344996" upper="1.6929693744344996" effort="40" velocity="31.83"/>
  </joint>

  <joint name="hip_R_Joint" type="revolute">
    <origin xyz="-0.0416 -0.0681 0.0" rpy="0 0 0"/>
    <parent link="abad_R_Link"/>
    <child link="hip_R_Link"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.9670597283903604" upper="0.2617993877991494" effort="130" velocity="12.57"/>
  </joint>

  <joint name="foot_R_Joint" type="revolute">
    <origin xyz="0.0 -0.07148 -0.35" rpy="0 0 0"/>
    <parent link="knee_R_Link"/>
    <child link="foot_R_Link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.6929693744344996" upper="1.6929693744344996" effort="40" velocity="31.83"/>
  </joint>

  <joint name="yaw_R_Joint" type="revolute">
    <origin xyz="0.0416 -0.0 -0.1142" rpy="0 0 0"/>
    <parent link="hip_R_Link"/>
    <child link="yaw_R_Link"/>
    <axis xyz="0 0 1"/>
    <limit lower="-4.625122517784973" upper="0.5235987755982988" effort="60" velocity="14.66"/>
  </joint>

  <joint name="knee_R_Joint" type="revolute">
    <origin xyz="0.0 0.03432 -0.2366" rpy="0 0 0"/>
    <parent link="yaw_R_Link"/>
    <child link="knee_R_Link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-0.5235987755982988" upper="2.6179938779914944" effort="60" velocity="14.66"/>
  </joint>

  <joint name="abad_R_Joint" type="revolute">
    <origin xyz="-0.00045 -0.09949 0.06046" rpy="0 0 0"/>
    <parent link="base_Link"/>
    <child link="abad_R_Link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.141592653589793" upper="2.600540585471551" effort="130" velocity="12.57"/>
  </joint>

  <gazebo reference="hip_R_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="foot_R_Link">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
    <self_collide>1</self_collide>
    <material>Gazebo/DarkGrey</material>
    <kp value="1000000.0"/>
    <kd value="100.0"/>
  </gazebo>

  <gazebo reference="knee_R_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>0</self_collide>
    <material>Gazebo/DarkGrey</material>
    <kp value="1000000.0"/>
    <kd value="100.0"/>
  </gazebo>

  <gazebo reference="yaw_L_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="foot_L_Link">
    <mu1>2.0</mu1>
    <mu2>2.0</mu2>
    <self_collide>1</self_collide>
    <material>Gazebo/DarkGrey</material>
    <kp value="1000000.0"/>
    <kd value="100.0"/>
  </gazebo>

  <gazebo reference="yaw_R_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="hip_L_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="knee_L_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <self_collide>0</self_collide>
    <material>Gazebo/DarkGrey</material>
    <kp value="1000000.0"/>
    <kd value="100.0"/>
  </gazebo>

  <gazebo reference="abad_R_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="abad_L_Link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <!-- Transmissions -->
  <transmission name="hip_L_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="hip_L_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="hip_L_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="foot_L_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="foot_L_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="foot_L_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="yaw_L_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="yaw_L_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="yaw_L_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="knee_R_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="knee_R_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="knee_R_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="foot_R_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="foot_R_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="foot_R_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="knee_L_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="knee_L_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="knee_L_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="hip_R_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="hip_R_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="hip_R_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="abad_L_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="abad_L_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="abad_L_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="yaw_R_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="yaw_R_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="yaw_R_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="abad_R_Joint_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="abad_R_Joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="abad_R_Joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
