<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tron2-V2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="16.713E-03 -0.400E-03 77.557E-03"
        rpy="0 0 0" />
      <mass
        value="8.653" />
      <inertia
        ixx="77474.635E-06"
        ixy="86.144E-06"
        ixz="2243.840E-06"
        iyy="57925.965E-06"
        iyz="77.393E-06"
        izz="87520.649E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/IMU.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/IMU.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="abad_L_Link">
    <inertial>
      <origin
        xyz="5.377E-03 59.504E-03 2.875E-03"
        rpy="0 0 0" />
      <mass
        value="1.722 " />
      <inertia
        ixx="2741.375E-06"
        ixy="-76.650E-06"
        ixz="134.135E-06"
        iyy="2111.061E-06"
        iyz="-24.943E-06"
        izz="2452.064E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ABAD_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ABAD_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="abad_L_Joint"
    type="revolute">
    <origin
      xyz="-0.44E-03 136.89E-03 68.45E-03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="abad_L_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.21733994313"
      upper="2.01864781286"
      effort="80"
      velocity="15" />
  </joint>
  <link
    name="hip_L_Link">
    <inertial>
      <origin
        xyz="-5.009E-03 -3.180E-03 -72.43E-03"
        rpy="0 0 0" />
      <mass
        value="0.413" />
      <inertia
        ixx="874.533E-06"
        ixy="20.487E-06"
        ixz="69.806E-06"
        iyy="1224.426E-06"
        iyz="-45.239E-06"
        izz="706.095E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/HIP_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/HIP_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_L_Joint"
    type="revolute">
    <origin
      xyz="32.72E-03 64E-03 15.72E-03"
      rpy="0 0 0" />
    <parent
      link="abad_L_Link" />
    <child
      link="hip_L_Link" />
    <axis
      xyz="-0.901357142852919 0 -0.433076553311332" />
    <limit
      lower="-3.40339204139"
      upper="0.26057765732"
      effort="80"
      velocity="15" />
  </joint>
  <link
    name="yaw_L_Link">
    <inertial>
      <origin
        xyz="57.017E-03 14.062E-03 -118.125E-03"
        rpy="0 0 0" />
      <mass
        value="3.105" />
      <inertia
        ixx="31303.805E-06"
        ixy="-980.338E-06"
        ixz="12922.679E-06"
        iyy="37331.447E-06"
        iyz="2083.596E-06"
        izz="10746.015E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/YAW_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/YAW_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yaw_L_Joint"
    type="revolute">
    <origin
      xyz="15.44E-03 0 -115.95E-03"
      rpy="0 0 0" />
    <parent
      link="hip_L_Link" />
    <child
      link="yaw_L_Link" />
    <axis
      xyz="0.433076553303812 0 -0.901357142856532" />
    <limit
      lower="-2.70526034059"
      upper="1.50098315672"
      effort="20"
      velocity="15" />
  </joint>
  <link
    name="knee_L_Link">
    <inertial>
      <origin
        xyz="-100.316E-03 12.612E-03 -208.825E-03"
        rpy="0 0 0" />
      <mass
        value="1.496" />
      <inertia
        ixx="19889.998E-06"
        ixy="742.145E-06"
        ixz="-9125.513E-06"
        iyy="24349.620E-06"
        iyz="1543.876E-06"
        izz="5273.518E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/KNEE_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/KNEE_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_L_Joint"
    type="revolute">
    <origin
      xyz="103.42E-03 -11E-03 -215.24E-03"
      rpy="0 0 0" />
    <parent
      link="yaw_L_Link" />
    <child
      link="knee_L_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.54301838155"
      upper="1.75056523975"
      effort="80"
      velocity="15" />
  </joint>
  <link
    name="foot_L_Link">
    <inertial>
      <origin
        xyz="9.534E-03 28.837E-03 -33.868E-03"
        rpy="0 0 0" />
      <mass
        value="0.634" />
      <inertia
        ixx="521.946E-06"
        ixy="1.534E-06"
        ixz="39.338E-06"
        iyy="1796.392E-06"
        iyz="-0.96E-06"
        izz="1991.627E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ANKLE_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ANKLE_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_L_Joint"
    type="revolute">
    <origin
      xyz="-151.58E-03 -8.6E-03 -315.48E-03"
      rpy="0 0 0" />
    <parent
      link="knee_L_Link" />
    <child
      link="foot_L_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.85982285093"
      upper="0.96394534588"
      effort="20"
      velocity="15" />
  </joint>
  <link
    name="abad_R_Link">
    <inertial>
      <origin
        xyz="-5.562E-03 -59.486E-03 -2.323E-03"
        rpy="0 0 0" />
      <mass
        value="1.722 " />
      <inertia
        ixx="2695.764E-06"
        ixy="-67.469E-06"
        ixz="168.068E-06"
        iyy="2112.573E-06"
        iyz="-44.751E-06"
        izz="2494.568E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ABAD_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ABAD_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="abad_R_Joint"
    type="revolute">
    <origin
      xyz="-0.44E-03 -136.89E-03 68.45E-03"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="abad_R_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.03295951272"
      upper="3.20302824326"
      effort="80"
      velocity="15" />
  </joint>
  <link
    name="hip_R_Link">
    <inertial>
      <origin
        xyz="59.683E-03 3.180E-03 -41.355E-03"
        rpy="0 0 0" />
      <mass
        value="0.413" />
      <inertia
        ixx="839.979E-06"
        ixy="-22.517E-06"
        ixz="97.463E-06"
        iyy="1224.426E-06"
        iyz="44.264E-06"
        izz="740.649E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/HIP_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/HIP_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_R_Joint"
    type="revolute">
    <origin
      xyz="-32.72E-03 -64E-03 -15.72E-03"
      rpy="0 0 0" />
    <parent
      link="abad_R_Link" />
    <child
      link="hip_R_Link" />
    <axis
      xyz="0.901357142857214 0 0.433076553302392" />
    <limit
      lower="-3.40339204139"
      upper="0.26057765732"
      effort="80"
      velocity="15" />
  </joint>
  <link
    name="yaw_R_Link">
    <inertial>
      <origin
        xyz="57.017E-03 -14.062E-03 -118.125E-03"
        rpy="0 0 0" />
      <mass
        value="3.105" />
      <inertia
        ixx="31303.805E-06"
        ixy="980.338E-06"
        ixz="12922.679E-06"
        iyy="37331.447E-06"
        iyz="-2083.596E-06"
        izz="10746.015E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/YAW_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/YAW_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="yaw_R_Joint"
    type="revolute">
    <origin
      xyz="80.88E-03 0 -84.51E-03"
      rpy="0 0 0" />
    <parent
      link="hip_R_Link" />
    <child
      link="yaw_R_Link" />
    <axis
      xyz="0.433076553302392 0 -0.901357142857214" />
    <limit
      lower="-1.50098315672"
      upper="2.70526034059"
      effort="20"
      velocity="15" />
  </joint>
  <link
    name="knee_R_Link">
    <inertial>
      <origin
        xyz="-100.316E-03 -12.612E-03 -208.825E-03"
        rpy="0 0 0" />
      <mass
        value="1.496" />
      <inertia
        ixx="19889.998E-06"
        ixy="-742.145E-06"
        ixz="-9125.513E-06"
        iyy="24349.620E-06"
        iyz="-1543.876E-06"
        izz="5273.518E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/KNEE_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/KNEE_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_R_Joint"
    type="revolute">
    <origin
      xyz="103.42E-03 11E-03 -215.24E-03"
      rpy="0 0 0" />
    <parent
      link="yaw_R_Link" />
    <child
      link="knee_R_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-1.75056523975"
      upper="3.54301838155"
      effort="80"
      velocity="15" />
  </joint>
  <link
    name="foot_R_Link">
    <inertial>
      <origin
        xyz="9.534E-03 -28.837E-03 -33.868E-03"
        rpy="0 0 0" />
      <mass
        value="0.634" />
      <inertia
        ixx="521.946E-06"
        ixy="-1.534E-06"
        ixz="39.338E-06"
        iyy="1796.392E-06"
        iyz="0.96E-06"
        izz="1991.627E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ANKLE_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/ANKLE_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_R_Joint"
    type="revolute">
    <origin
      xyz="-151.58E-03 8.6E-03 -315.48E-03"
      rpy="0 0 0" />
    <parent
      link="knee_R_Link" />
    <child
      link="foot_R_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.96394534588"
      upper="1.85982285093"
      effort="20"
      velocity="15" />
  </joint>
</robot>