<?xml version='1.0' encoding='utf-8'?>
<robot name="bipedal_robot">
  <mujoco>
    <compiler meshdir="../meshes"/>
  </mujoco>

  <!-- base -->
  <link name="base_Link">
    <inertial>
      <origin xyz="0.00241 -0.00022 0.11116" rpy="0.0 0.0 0.0"/>
      <mass value="13.4"/>
      <inertia ixx="0.11544842" ixy="-6.32e-06" ixz="0.00636327" iyy="0.13779136" iyz="-2.76e-05" izz="0.10571445"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/base_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/base_Link.STL"/>
      </geometry>
    </collision>
  </link>

  <!-- base imu -->
  <link name="base_imu">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-06" ixy="0.0" ixz="0.0" iyy="1e-06" iyz="0.0" izz="1e-06"/>
    </inertial>
  </link>
  <joint name="base_imu_Joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="base_Link"/>
    <child link="base_imu"/>
  </joint>

  <!-- proximal pitch L Link -->
  <link name="proximal_pitch_L_Link">
    <inertial>
      <origin xyz="0.0033 0.06714 -0.00603" rpy="0.0 0.0 0.0"/>
      <mass value="2.05"/>
      <inertia ixx="0.00389778" ixy="-0.00013725" ixz="4.62e-05" iyy="0.00320014" iyz="5.272e-05" izz="0.00357523"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/proximal_pitch_L_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/proximal_pitch_L_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="proximal_pitch_L_Joint" type="revolute">
    <origin xyz="-0.00044 0.09497 0.05446" rpy="0.0 0.0 0.0"/>
    <parent link="base_Link"/>
    <child link="proximal_pitch_L_Link"/>
    <axis xyz="0.0 0.9961947268929313 -0.0871554135479712"/>
    <limit lower="-3.141592653589793" upper="2.600540585471551" effort="200.0" velocity="17.0693"/>
  </joint>
  <link name="proximal_roll_L_Link">
    <inertial>
      <origin xyz="0.03623 0.00056 -0.08095" rpy="0.0 0.0 0.0"/>
      <mass value="1.75"/>
      <inertia ixx="0.00438693" ixy="-1.167e-05" ixz="-5.518e-05" iyy="0.00508428" iyz="-3.078e-05" izz="0.00295723"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/proximal_roll_L_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/proximal_roll_L_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="proximal_roll_L_Joint" type="revolute">
    <origin xyz="-0.0352 0.07261 -0.00635" rpy="0.0 0.0 0.0"/>
    <parent link="proximal_pitch_L_Link"/>
    <child link="proximal_roll_L_Link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-0.2617993877991494" upper="3.193952531149623" effort="200.0" velocity="17.0693"/>
  </joint>
  <link name="proximal_yaw_L_Link">
    <inertial>
      <origin xyz="-0.00241 0.00149 -0.10876" rpy="0.0 0.0 0.0"/>
      <mass value="1.6"/>
      <inertia ixx="0.01537565" ixy="-1.485e-05" ixz="0.00022048" iyy="0.01470715" iyz="0.00019641" izz="0.00374848"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/proximal_yaw_L_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/proximal_yaw_L_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="proximal_yaw_L_Joint" type="revolute">
    <origin xyz="0.0352 0.0 -0.1348" rpy="0.0 0.0 0.0"/>
    <parent link="proximal_roll_L_Link"/>
    <child link="proximal_yaw_L_Link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-3.6651914291880923" upper="1.4835298641951802" effort="70.0" velocity="16.3363"/>
  </joint>
  <link name="knee_L_Link">
    <inertial>
      <origin xyz="-0.00233 -0.02777 -0.12898" rpy="0.0 0.0 0.0"/>
      <mass value="4.72"/>
      <inertia ixx="0.11050247" ixy="5.913e-05" ixz="-0.00088465" iyy="0.11293693" iyz="0.00289826" izz="0.00653959"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/knee_L_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/knee_L_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="knee_L_Joint" type="revolute">
    <origin xyz="0.004 0.0319 -0.2152" rpy="0.0 0.0 0.0"/>
    <parent link="proximal_yaw_L_Link"/>
    <child link="knee_L_Link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-2.6179938779914944" upper="0.2617993877991494" effort="200.0" velocity="17.0693"/>
  </joint>
  <link name="wheel_L_Link">
    <inertial>
      <origin xyz="0.00104 0.00488 0.00083" rpy="0.0 0.0 0.0"/>
      <mass value="0.95"/>
      <inertia ixx="0.00230499" ixy="1.32e-06" ixz="6.311e-05" iyy="0.00437309" iyz="1.34e-06" izz="0.0022514"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/wheel_L_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.003 0.0" rpy="1.5707963267948966 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.1" length="0.045"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_L_Joint" type="revolute">
    <origin xyz="-0.004 0.0131 -0.35" rpy="0.0 0.0 0.0"/>
    <parent link="knee_L_Link"/>
    <child link="wheel_L_Link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-1745329.2519943295" upper="1745329.2519943295" effort="22.0" velocity="41.89"/>
  </joint>

  <!-- proximal pitch R Link -->
  <link name="proximal_pitch_R_Link">
    <inertial>
      <origin xyz="0.0033 -0.06714 -0.00603" rpy="-0.0 0.0 -0.0"/>
      <mass value="2.05"/>
      <inertia ixx="0.00389778" ixy="0.00013725" ixz="4.62e-05" iyy="0.00320014" iyz="-5.272e-05" izz="0.00357523"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/proximal_pitch_R_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/proximal_pitch_R_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="proximal_pitch_R_Joint" type="revolute">
    <origin xyz="-0.00044 -0.09497 0.05446" rpy="0.0 0.0 0.0"/>
    <parent link="base_Link"/>
    <child link="proximal_pitch_R_Link"/>
    <axis xyz="0.0 0.9961947268929313 0.0871554135479712"/>
    <limit lower="-3.141592653589793" upper="2.600540585471551" effort="200.0" velocity="17.0693"/>
  </joint>
  <link name="proximal_roll_R_Link">
    <inertial>
      <origin xyz="0.03623 -0.00056 -0.08095" rpy="-0.0 0.0 -0.0"/>
      <mass value="1.75"/>
      <inertia ixx="0.00438693" ixy="1.167e-05" ixz="-5.518e-05" iyy="0.00508428" iyz="3.078e-05" izz="0.00295723"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/proximal_roll_R_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/proximal_roll_R_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="proximal_roll_R_Joint" type="revolute">
    <origin xyz="-0.0352 -0.07261 -0.00635" rpy="-0.0 0.0 -0.0"/>
    <parent link="proximal_pitch_R_Link"/>
    <child link="proximal_roll_R_Link"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-3.193952531149623" upper="0.2617993877991494" effort="200.0" velocity="17.0693"/>
  </joint>
  <link name="proximal_yaw_R_Link">
    <inertial>
      <origin xyz="-0.00241 -0.00149 -0.10876" rpy="-0.0 0.0 -0.0"/>
      <mass value="1.6"/>
      <inertia ixx="0.01537565" ixy="1.485e-05" ixz="0.00022048" iyy="0.01470715" iyz="-0.00019641" izz="0.00374848"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/proximal_yaw_R_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/proximal_yaw_R_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="proximal_yaw_R_Joint" type="revolute">
    <origin xyz="0.0352 -0.0 -0.1348" rpy="-0.0 0.0 -0.0"/>
    <parent link="proximal_roll_R_Link"/>
    <child link="proximal_yaw_R_Link"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-1.4835298641951802" upper="3.6651914291880923" effort="70.0" velocity="16.3363"/>
  </joint>
  <link name="knee_R_Link">
    <inertial>
      <origin xyz="-0.00233 0.02777 -0.12898" rpy="-0.0 0.0 -0.0"/>
      <mass value="4.72"/>
      <inertia ixx="0.11050247" ixy="-5.913e-05" ixz="-0.00088465" iyy="0.11293693" iyz="-0.00289826" izz="0.00653959"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/knee_R_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../meshes/knee_R_Link.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="knee_R_Joint" type="revolute">
    <origin xyz="0.004 -0.0319 -0.2152" rpy="-0.0 0.0 -0.0"/>
    <parent link="proximal_yaw_R_Link"/>
    <child link="knee_R_Link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-2.6179938779914944" upper="0.2617993877991494" effort="200.0" velocity="17.0693"/>
  </joint>
  <link name="wheel_R_Link">
    <inertial>
      <origin xyz="0.00104 -0.00488 0.00083" rpy="-0.0 0.0 -0.0"/>
      <mass value="0.95"/>
      <inertia ixx="0.00230499" ixy="-1.32e-06" ixz="6.311e-05" iyy="0.00437309" iyz="-1.34e-06" izz="0.0022514"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="../meshes/wheel_R_Link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 -0.003 0.0" rpy="1.5707963267948966 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.1" length="0.045"/>
      </geometry>
    </collision>
  </link>
  <joint name="wheel_R_Joint" type="revolute">
    <origin xyz="-0.004 -0.0131 -0.35" rpy="-0.0 0.0 -0.0"/>
    <parent link="knee_R_Link"/>
    <child link="wheel_R_Link"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-1745329.2519943295" upper="1745329.2519943295" effort="22.0" velocity="41.89"/>
  </joint>

  <!-- d435 Link -->
  <link name="d435_Link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
  </link>
  <joint name="d435_Joint" type="fixed">
    <origin xyz="0.0968 0.01759 -0.00409" rpy="0.0 2.7227 0.0"/>
    <parent link="base_Link"/>
    <child link="d435_Link"/>
  </joint>
  <link name="d435_optical_frame">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-07" ixy="0.0" ixz="0.0" iyy="1e-07" iyz="0.0" izz="1e-07"/>
    </inertial>
  </link>
  <joint name="d435_optical_Joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="-1.5707963267948966 0.0 -1.5707963267948966"/>
    <parent link="d435_Link"/>
    <child link="d435_optical_frame"/>
  </joint>
</robot>
