<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_description)/tron2/ARM_TRON2/xacro/transmission.xacro"/>

    <xacro:macro name="arm" params="name mirror *origin">

        <joint name="abad_${name}_Joint" type="revolute">
            <origin xyz="${abad_offset_x} ${abad_offset_y*mirror} ${abad_offset_z}" rpy="0 0 0"/>
            <parent link="base_Link"/>
            <child link="abad_${name}_Link"/>
            <axis xyz="0 1 0"/>
            <limit lower="${abad_lower}" upper="${abad_upper}" effort="${abad_effort}" velocity="${abad_velocity}"/>
        </joint>

        <link name="abad_${name}_Link">
            <inertial>
                <origin xyz="${abad_com_x} ${abad_com_y*mirror} ${abad_com_z}" rpy="0 0 0"/>
                <mass value="${abad_mass}"/>
                <inertia ixx="${abad_ixx}" ixy="${abad_ixy*mirror}" ixz="${abad_ixz}"
                         iyy="${abad_iyy}" iyz="${abad_iyz*mirror}" izz="${abad_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/abad_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/abad_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <joint name="hip_${name}_Joint" type="revolute">
            <origin xyz="${hip_offset_x} ${hip_offset_y*mirror} ${hip_offset_z}" rpy="0 0 0"/>
            <parent link="abad_${name}_Link"/>
            <child link="hip_${name}_Link"/>
            <axis xyz="1 0 0"/>
            <xacro:if value="${name == 'L'}">
                <limit lower="${hip_L_lower}" upper="${hip_L_upper}" effort="${hip_effort}" velocity="${hip_velocity}"/>
            </xacro:if>
            <xacro:if value="${name == 'R'}">
                <limit lower="${hip_R_lower}" upper="${hip_R_upper}" effort="${hip_effort}" velocity="${hip_velocity}"/>
            </xacro:if>
        </joint>

        <link name="hip_${name}_Link">
            <inertial>
                <origin xyz="${hip_com_x} ${hip_com_y*mirror} ${hip_com_z}" rpy="0 0 0"/>
                <mass value="${hip_mass}"/>
                <inertia ixx="${hip_ixx}" ixy="${hip_ixy*mirror}" ixz="${hip_ixz}"
                         iyy="${hip_iyy}" iyz="${hip_iyz*mirror}" izz="${hip_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/hip_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/hip_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <joint name="yaw_${name}_Joint" type="revolute">
            <origin xyz="${yaw_offset_x} ${yaw_offset_y*mirror} ${yaw_offset_z}" rpy="0 0 0"/>
            <parent link="hip_${name}_Link"/>
            <child link="yaw_${name}_Link"/>
            <axis xyz="0 0 1"/>
            <xacro:if value="${name == 'L'}">
                <limit lower="${yaw_L_lower}" upper="${yaw_L_upper}" effort="${yaw_effort}" velocity="${yaw_velocity}"/>
            </xacro:if>
            <xacro:if value="${name == 'R'}">
                <limit lower="${yaw_R_lower}" upper="${yaw_R_upper}" effort="${yaw_effort}" velocity="${yaw_velocity}"/>
            </xacro:if>
        </joint>

        <link name="yaw_${name}_Link">
            <inertial>
                <origin xyz="${yaw_com_x} ${yaw_com_y*mirror} ${yaw_com_z}" rpy="0 0 0"/>
                <mass value="${yaw_mass}"/>
                <inertia ixx="${yaw_ixx}" ixy="${yaw_ixy*mirror}" ixz="${yaw_ixz}"
                         iyy="${yaw_iyy}" iyz="${yaw_iyz*mirror}" izz="${yaw_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/yaw_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/yaw_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <joint name="knee_${name}_Joint" type="revolute">
            <origin xyz="${knee_offset_x} ${knee_offset_y*mirror} ${knee_offset_z}" rpy="0 0 0"/>
            <parent link="yaw_${name}_Link"/>
            <child link="knee_${name}_Link"/>
            <axis xyz="0 1 0"/>
            <limit lower="${knee_lower}" upper="${knee_upper}" effort="${knee_effort}" velocity="${knee_velocity}"/>
        </joint>

        <link name="knee_${name}_Link">
            <inertial>
                <origin xyz="${knee_com_x} ${knee_com_y*mirror} ${knee_com_z}" rpy="0 0 0"/>
                <mass value="${knee_mass}"/>
                <inertia ixx="${knee_ixx}" ixy="${knee_ixy*mirror}" ixz="${knee_ixz}"
                         iyy="${knee_iyy}" iyz="${knee_iyz*mirror}" izz="${knee_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/knee_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/knee_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <joint name="wrist_yaw1_${name}_Joint" type="revolute">
            <origin xyz="${wrist_yaw1_offset_x} ${wrist_yaw1_offset_y*mirror} ${wrist_yaw1_offset_z}" rpy="0 0 0"/>
            <parent link="knee_${name}_Link"/>
            <child link="wrist_yaw1_${name}_Link"/>
            <axis xyz="0 0 1"/>
            <limit lower="${wrist_yaw1_lower}" upper="${wrist_yaw1_upper}" effort="${wrist_yaw1_effort}" velocity="${wrist_yaw1_velocity}"/>
        </joint>

        <link name="wrist_yaw1_${name}_Link">
            <inertial>
                <origin xyz="${wrist_yaw1_com_x} ${wrist_yaw1_com_y*mirror} ${wrist_yaw1_com_z}" rpy="0 0 0"/>
                <mass value="${wrist_yaw1_mass}"/>
                <inertia ixx="${wrist_yaw1_ixx}" ixy="${wrist_yaw1_ixy*mirror}" ixz="${wrist_yaw1_ixz}"
                         iyy="${wrist_yaw1_iyy}" iyz="${wrist_yaw1_iyz*mirror}" izz="${wrist_yaw1_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/wrist_yaw1_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/wrist_yaw1_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <joint name="wrist_roll_${name}_Joint" type="revolute">
            <origin xyz="${wrist_roll_offset_x} ${wrist_roll_offset_y*mirror} ${wrist_roll_offset_z}" rpy="0 0 0"/>
            <parent link="wrist_yaw1_${name}_Link"/>
            <child link="wrist_roll_${name}_Link"/>
            <axis xyz="0 1 0"/>
            <limit lower="${wrist_roll_lower}" upper="${wrist_roll_upper}" effort="${wrist_roll_effort}" velocity="${wrist_roll_velocity}"/>
        </joint>

        <link name="wrist_roll_${name}_Link">
            <inertial>
                <origin xyz="${wrist_roll_com_x} ${wrist_roll_com_y*mirror} ${wrist_roll_com_z}" rpy="0 0 0"/>
                <mass value="${wrist_roll_mass}"/>
                <inertia ixx="${wrist_roll_ixx}" ixy="${wrist_roll_ixy*mirror}" ixz="${wrist_roll_ixz}"
                         iyy="${wrist_roll_iyy}" iyz="${wrist_roll_iyz*mirror}" izz="${wrist_roll_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/wrist_roll_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/wrist_roll_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <joint name="wrist_yaw2_${name}_Joint" type="revolute">
            <origin xyz="${wrist_yaw2_offset_x} ${wrist_yaw2_offset_y*mirror} ${wrist_yaw2_offset_z}" rpy="0 0 0"/>
            <parent link="wrist_roll_${name}_Link"/>
            <child link="wrist_yaw2_${name}_Link"/>
            <axis xyz="0 0 1"/>
            <limit lower="${wrist_yaw2_lower}" upper="${wrist_yaw2_upper}" effort="${wrist_yaw2_effort}" velocity="${wrist_yaw2_velocity}"/>
        </joint>

        <link name="wrist_yaw2_${name}_Link">
            <inertial>
                <origin xyz="${wrist_yaw2_com_x} ${wrist_yaw2_com_y*mirror} ${wrist_yaw2_com_z}" rpy="0 0 0"/>
                <mass value="${wrist_yaw2_mass}"/>
                <inertia ixx="${wrist_yaw2_ixx}" ixy="${wrist_yaw2_ixy*mirror}" ixz="${wrist_yaw2_ixz}"
                         iyy="${wrist_yaw2_iyy}" iyz="${wrist_yaw2_iyz*mirror}" izz="${wrist_yaw2_izz}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/wrist_yaw2_${name}_Link.STL"/>
                </geometry>
                <material name="grey"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/wrist_yaw2_${name}_Link.STL"/>
                </geometry>
            </collision>
        </link>

        <!-- Hand contact -->
        <joint name="${name == 'L' and 'left' or 'right'}_hand_contact_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="wrist_roll_${name}_Link"/>
            <child link="${name == 'L' and 'left' or 'right'}_hand_contact"/>
        </joint>

        <link name="${name == 'L' and 'left' or 'right'}_hand_contact">
            <inertial>
                <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
                <mass value="0.00000001"/>
                <inertia ixx="0.0000001" ixy="0.0" ixz="0.0"
                         iyy="0.0000001" iyz="0.0" izz="0.0000001"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.001 0.001 0.001"/>
                </geometry>
                <material name="red">
                    <color rgba="1 0 0 1"/>
                </material>
            </visual>
        </link>

        <xacro:arm_transmission name="${name}"/>
    </xacro:macro>
    
</robot> 