<?xml version="1.0"?>

<robot name="arm_tron2_description" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:arg name="use_support" default="false"/>
    
    <!-- Include all component files -->
    <xacro:include filename="$(find robot_description)/tron2/ARM_TRON2/xacro/const.xacro"/>
    <xacro:include filename="$(find robot_description)/tron2/ARM_TRON2/xacro/materials.xacro"/>
    <xacro:include filename="$(find robot_description)/tron2/ARM_TRON2/xacro/arm.xacro"/>
    <xacro:include filename="$(find robot_description)/tron2/ARM_TRON2/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find robot_description)/tron2/ARM_TRON2/xacro/ros2_control_interface.xacro"/>

    <!-- Support mode will add an additional stick on the top -->
    <xacro:if value="$(arg use_support)">
        <link name="world"/>
        <joint name="base_static_Joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0.3"/>
            <parent link="world"/>
            <child link="base_Link"/>
        </joint>
    </xacro:if>

    <!-- IMU Link -->
    <joint name="limx_imu_joint" type="fixed">
        <origin rpy="0. 0. 0." xyz="0. 0. 0."/>
        <parent link="base_Link"/>
        <child link="limx_imu"/>
    </joint>

    <link name="limx_imu">
        <inertial>
            <mass value="${imu_mass}"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.015 0.015 0.004"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <!-- Base Link -->
    <link name="base_Link">
        <inertial>
            <origin xyz="${base_com_x} ${base_com_y} ${base_com_z}" rpy="0 0 0"/>
            <mass value="${base_mass}"/>
            <inertia ixx="${base_ixx}" ixy="${base_ixy}" ixz="${base_ixz}"
                     iyy="${base_iyy}" iyz="${base_iyz}" izz="${base_izz}"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/base_Link.STL"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/base_Link.STL"/>
            </geometry>
        </collision>
    </link>

    <!-- Additional base links -->
    <joint name="base_2_Joint" type="fixed">
        <origin xyz="-0.00044 9e-05 -0.08605" rpy="0 0 0"/>
        <parent link="base_Link"/>
        <child link="base_2_Link"/>
        <axis xyz="0 0 0"/>
    </joint>

    <link name="base_2_Link">
        <inertial>
            <origin xyz="${base_2_com_x} ${base_2_com_y} ${base_2_com_z}" rpy="0 0 0"/>
            <mass value="${base_2_mass}"/>
            <inertia ixx="0" ixy="0" ixz="0"
                     iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/base_2_Link.STL"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/base_2_Link.STL"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_3_joint" type="fixed">
        <origin xyz="0.0 0.0 -0.809" rpy="0 0 0"/>
        <parent link="base_2_Link"/>
        <child link="base_3_Link"/>
        <axis xyz="0 0 0"/>
    </joint>

    <link name="base_3_Link">
        <inertial>
            <origin xyz="${base_3_com_x} ${base_3_com_y} ${base_3_com_z}" rpy="0 0 0"/>
            <mass value="${base_3_mass}"/>
            <inertia ixx="0" ixy="0" ixz="0"
                     iyy="0" iyz="0" izz="0"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/base_3_Link.STL"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://robot_description/tron2/ARM_TRON2/meshes/base_3_Link.STL"/>
            </geometry>
        </collision>
    </link>

    <!-- Left and Right Arms -->
    <xacro:arm name="L" mirror="1">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </xacro:arm>

    <xacro:arm name="R" mirror="-1">
        <origin rpy="0 0 0" xyz="0 0 0"/>
    </xacro:arm>

    <!-- ROS2 Control Configuration -->
    <xacro:if value="$(arg use_gazebo)">
        <ros2_control name="tron2_gazebo_ros2_control_settings" type="system">
            <hardware>
                <plugin>tron2_gazebo/Tron2HWSim</plugin>
            </hardware>
            <xacro:arm_ros2_control_interface arm_name="L"/>
            <xacro:arm_ros2_control_interface arm_name="R"/>
            <sensor name="imu_sensor">
                <frame_id name="limx_imu"/>
                <state_interface name="orientation.x"/>
                <state_interface name="orientation.y"/>
                <state_interface name="orientation.z"/>
                <state_interface name="orientation.w"/>
                <state_interface name="angular_velocity.x"/>
                <state_interface name="angular_velocity.y"/>
                <state_interface name="angular_velocity.z"/>
                <state_interface name="linear_acceleration.x"/>
                <state_interface name="linear_acceleration.y"/>
                <state_interface name="linear_acceleration.z"/>
            </sensor>
        </ros2_control>
        
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <robot_sim_type>tron2_gazebo/Tron2HWSim</robot_sim_type>
                <parameters>$(find tron2_gazebo)/config/default_tron2.yaml</parameters>
            </plugin>
        </gazebo> 
    </xacro:if>

</robot> 