<?xml version="1.0"?>

<robot name="sf_tron2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- joint limits -->
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.0"/>

    <!-- IMU parameters -->
    <xacro:property name="imu_mass" value="0.01"/>

    <!-- Base Link parameters -->
    <xacro:property name="base_mass" value="8.04083"/>
    <xacro:property name="base_com_x" value="0.00701"/>
    <xacro:property name="base_com_y" value="4e-05"/>
    <xacro:property name="base_com_z" value="0.10026"/>
    <xacro:property name="base_ixx" value="0.06521"/>
    <xacro:property name="base_ixy" value="0.00026"/>
    <xacro:property name="base_ixz" value="0.00155"/>
    <xacro:property name="base_iyy" value="0.06713"/>
    <xacro:property name="base_iyz" value="-1e-05"/>
    <xacro:property name="base_izz" value="0.05827"/>

    <!-- Abad Link parameters (left) -->
    <xacro:property name="abad_mass" value="2.42561"/>
    <xacro:property name="abad_com_x" value="0.00952"/>
    <xacro:property name="abad_com_y" value="0.05904"/>
    <xacro:property name="abad_com_z" value="0.00465"/>
    <xacro:property name="abad_ixx" value="0.00391"/>
    <xacro:property name="abad_ixy" value="-8e-05"/>
    <xacro:property name="abad_ixz" value="-9e-05"/>
    <xacro:property name="abad_iyy" value="0.00414"/>
    <xacro:property name="abad_iyz" value="-4e-05"/>
    <xacro:property name="abad_izz" value="0.00403"/>

    <!-- Hip Link parameters (left) -->
    <xacro:property name="hip_mass" value="0.50271"/>
    <xacro:property name="hip_com_x" value="-0.01668"/>
    <xacro:property name="hip_com_y" value="0.00027"/>
    <xacro:property name="hip_com_z" value="-0.07375"/>
    <xacro:property name="hip_ixx" value="0.00128"/>
    <xacro:property name="hip_ixy" value="-1e-05"/>
    <xacro:property name="hip_ixz" value="-3e-05"/>
    <xacro:property name="hip_iyy" value="0.00205"/>
    <xacro:property name="hip_iyz" value="0"/>
    <xacro:property name="hip_izz" value="0.00128"/>

    <!-- Yaw Link parameters (left) -->
    <xacro:property name="yaw_mass" value="3.43624"/>
    <xacro:property name="yaw_com_x" value="0.07581"/>
    <xacro:property name="yaw_com_y" value="-0.00574"/>
    <xacro:property name="yaw_com_z" value="-0.15209"/>
    <xacro:property name="yaw_ixx" value="0.02909"/>
    <xacro:property name="yaw_ixy" value="0.00016"/>
    <xacro:property name="yaw_ixz" value="0.01218"/>
    <xacro:property name="yaw_iyy" value="0.03527"/>
    <xacro:property name="yaw_iyz" value="-0.00034"/>
    <xacro:property name="yaw_izz" value="0.0108"/>

    <!-- Knee Link parameters (left) -->
    <xacro:property name="knee_mass" value="1.84166"/>
    <xacro:property name="knee_com_x" value="-0.10112"/>
    <xacro:property name="knee_com_y" value="0.03408"/>
    <xacro:property name="knee_com_z" value="-0.20359"/>
    <xacro:property name="knee_ixx" value="0.02702"/>
    <xacro:property name="knee_ixy" value="0.00129"/>
    <xacro:property name="knee_ixz" value="-0.01238"/>
    <xacro:property name="knee_iyy" value="0.03271"/>
    <xacro:property name="knee_iyz" value="0.00258"/>
    <xacro:property name="knee_izz" value="0.00822"/>

    <!-- Foot Link parameters -->
    <xacro:property name="foot_mass" value="0.94793"/>
    <xacro:property name="foot_com_x" value="0.01757"/>
    <xacro:property name="foot_com_y" value="-0.03697"/>
    <xacro:property name="foot_com_z" value="-0.04378"/>
    <xacro:property name="foot_ixx" value="0.00134"/>
    <xacro:property name="foot_ixy" value="0"/>
    <xacro:property name="foot_ixz" value="0.00015"/>
    <xacro:property name="foot_iyy" value="0.00315"/>
    <xacro:property name="foot_iyz" value="0"/>
    <xacro:property name="foot_izz" value="0.00351"/>

    <!-- Joint positions and orientations -->
    <!-- Abad joint position -->
    <xacro:property name="abad_offset_x" value="0.00049"/>
    <xacro:property name="abad_offset_y" value="0.10649"/>
    <xacro:property name="abad_offset_z" value="0.0586"/>
    <xacro:property name="abad_R_offset_x" value="-0.00049"/>
    <xacro:property name="abad_R_offset_y" value="-0.10631"/>
    <xacro:property name="abad_R_offset_z" value="0.0586"/>

    <!-- Hip joint position -->
    <xacro:property name="hip_offset_x" value="0.04449"/>
    <xacro:property name="hip_offset_y" value="0.062"/>
    <xacro:property name="hip_offset_z" value="0.02216"/>
    <xacro:property name="hip_R_offset_x" value="-0.04449"/>
    <xacro:property name="hip_R_offset_y" value="-0.062"/>
    <xacro:property name="hip_R_offset_z" value="-0.02216"/>

    <!-- Yaw joint position -->
    <xacro:property name="yaw_offset_x" value="0.00577"/>
    <xacro:property name="yaw_offset_y" value="0.0"/>
    <xacro:property name="yaw_offset_z" value="-0.12304"/>
    <xacro:property name="yaw_R_offset_x" value="0.09474"/>
    <xacro:property name="yaw_R_offset_y" value="0.0"/>
    <xacro:property name="yaw_R_offset_z" value="-0.07872"/>

    <!-- Knee joint position -->
    <xacro:property name="knee_offset_x" value="0.10581"/>
    <xacro:property name="knee_offset_y" value="-0.04115"/>
    <xacro:property name="knee_offset_z" value="-0.2124"/>

    <!-- Foot joint position -->
    <xacro:property name="foot_offset_x" value="-0.15601"/>
    <xacro:property name="foot_offset_y" value="0.07805"/>
    <xacro:property name="foot_R_offset_y" value="-0.00425"/>
    <xacro:property name="foot_offset_z" value="-0.31331"/>

    <!-- Joint limits -->
    <!-- Abad joint limits -->
    <xacro:property name="abad_lower" value="-2.679429467661695"/>
    <xacro:property name="abad_upper" value="3.062703771399649"/>
    <xacro:property name="abad_effort" value="140"/>
    <xacro:property name="abad_velocity" value="12.57"/>

    <!-- Hip joint limits -->
    <xacro:property name="hip_L_lower" value="-0.2605776573227534"/>
    <xacro:property name="hip_L_upper" value="2.1131489961203007"/>
    <xacro:property name="hip_R_lower" value="-2.1131489961203007"/>
    <xacro:property name="hip_R_upper" value="0.2605776573227534"/>
    <xacro:property name="hip_effort" value="140"/>
    <xacro:property name="hip_velocity" value="12.57"/>

    <!-- Yaw joint limits -->
    <xacro:property name="yaw_L_lower" value="-2.705260340591211"/>
    <xacro:property name="yaw_L_upper" value="1.4835298641951802"/>
    <xacro:property name="yaw_R_lower" value="-1.4835298641951802"/>
    <xacro:property name="yaw_R_upper" value="2.705260340591211"/>
    <xacro:property name="yaw_effort" value="40"/>
    <xacro:property name="yaw_velocity" value="31.83"/>

    <!-- Knee joint limits -->
    <xacro:property name="knee_lower" value="-3.5421457169224917"/>
    <xacro:property name="knee_upper" value="1.6938420390604967"/>
    <xacro:property name="knee_effort" value="140"/>
    <xacro:property name="knee_velocity" value="12.57"/>

    <!-- Foot joint limits -->
    <xacro:property name="foot_lower" value="-1.2482594810263443"/>
    <xacro:property name="foot_upper" value="2.230356251123554"/>
    <xacro:property name="foot_effort" value="40"/>
    <xacro:property name="foot_velocity" value="31.83"/>

    <!-- Hip joint axis for left and right legs -->
    <xacro:property name="hip_axis_x" value="0.89509"/>
    <xacro:property name="hip_axis_y" value="0"/>
    <xacro:property name="hip_axis_z" value="0.44589"/>

    <!-- Yaw joint axis for left and right legs -->
    <xacro:property name="yaw_axis_x" value="-0.44589"/>
    <xacro:property name="yaw_axis_y" value="0"/>
    <xacro:property name="yaw_axis_z" value="0.89509"/>

</robot> 