<?xml version="1.0"?>

<robot name="sf_tron2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>

    <!-- joint limits -->
    <xacro:property name="damping" value="0.0"/>
    <xacro:property name="friction" value="0.0"/>

    <!-- IMU parameters -->
    <xacro:property name="imu_mass" value="0.01"/>

    <!-- Base Link parameters -->
    <xacro:property name="base_mass" value="10.94"/>
    <xacro:property name="base_com_x" value="0.00656"/>
    <xacro:property name="base_com_y" value="0.001"/>
    <xacro:property name="base_com_z" value="0.12055"/>
    <xacro:property name="base_ixx" value="0.10814592"/>
    <xacro:property name="base_ixy" value="0.00070438"/>
    <xacro:property name="base_ixz" value="0.00180329"/>
    <xacro:property name="base_iyy" value="0.1118876"/>
    <xacro:property name="base_iyz" value="0.00110226"/>
    <xacro:property name="base_izz" value="0.07968023"/>

    <!-- Abad Link parameters (left) -->
    <xacro:property name="abad_mass" value="2.16"/>
    <xacro:property name="abad_com_x" value="-0.00585"/>
    <xacro:property name="abad_com_y" value="0.06636"/>
    <xacro:property name="abad_com_z" value="-0.0004"/>
    <xacro:property name="abad_ixx" value="0.00461832"/>
    <xacro:property name="abad_ixy" value="0.00000691"/>
    <xacro:property name="abad_ixz" value="0.00000837"/>
    <xacro:property name="abad_iyy" value="0.0036266"/>
    <xacro:property name="abad_iyz" value="0.00000188"/>
    <xacro:property name="abad_izz" value="0.00371921"/>

    <!-- Hip Link parameters (left) -->
    <xacro:property name="hip_mass" value="0.62"/>
    <xacro:property name="hip_com_x" value="0.03454"/>
    <xacro:property name="hip_com_y" value="0.00074"/>
    <xacro:property name="hip_com_z" value="-0.05537"/>
    <xacro:property name="hip_ixx" value="0.00161988"/>
    <xacro:property name="hip_ixy" value="-0.00000677"/>
    <xacro:property name="hip_ixz" value="0.00005921"/>
    <xacro:property name="hip_iyy" value="0.00229105"/>
    <xacro:property name="hip_iyz" value="-0.00000259"/>
    <xacro:property name="hip_izz" value="0.00163377"/>

    <!-- Yaw Link parameters (left) -->
    <xacro:property name="yaw_mass" value="1.82"/>
    <xacro:property name="yaw_com_x" value="0.00294"/>
    <xacro:property name="yaw_com_y" value="-0.00009"/>
    <xacro:property name="yaw_com_z" value="-0.08263"/>
    <xacro:property name="yaw_ixx" value="0.01407104"/>
    <xacro:property name="yaw_ixy" value="-0.00000181"/>
    <xacro:property name="yaw_ixz" value="0.00037981"/>
    <xacro:property name="yaw_iyy" value="0.0137125"/>
    <xacro:property name="yaw_iyz" value="-0.00003338"/>
    <xacro:property name="yaw_izz" value="0.00304924"/>

    <!-- Knee Link parameters (left) -->
    <xacro:property name="knee_mass" value="3.39"/>
    <xacro:property name="knee_com_x" value="0.00024"/>
    <xacro:property name="knee_com_y" value="0.03439"/>
    <xacro:property name="knee_com_z" value="-0.14948"/>
    <xacro:property name="knee_ixx" value="0.07632531"/>
    <xacro:property name="knee_ixy" value="0.00001890"/>
    <xacro:property name="knee_ixz" value="0.00006976"/>
    <xacro:property name="knee_iyy" value="0.07685607"/>
    <xacro:property name="knee_iyz" value="0.00075049"/>
    <xacro:property name="knee_izz" value="0.00384986"/>

    <!-- Foot Link parameters -->
    <xacro:property name="foot_mass" value="0.90"/>
    <xacro:property name="foot_com_x" value="0.01691"/>
    <xacro:property name="foot_com_y" value="-0.03589"/>
    <xacro:property name="foot_com_z" value="-0.04454"/>
    <xacro:property name="foot_ixx" value="0.00125164"/>
    <xacro:property name="foot_ixy" value="0.00001843"/>
    <xacro:property name="foot_ixz" value="0.00014738"/>
    <xacro:property name="foot_iyy" value="0.00296403"/>
    <xacro:property name="foot_iyz" value="-0.00008693"/>
    <xacro:property name="foot_izz" value="0.00334669"/>

    <!-- Joint positions and orientations -->
    <!-- Abad joint position -->
    <xacro:property name="abad_offset_x" value="-0.00045"/>
    <xacro:property name="abad_offset_y" value="0.09949"/>
    <xacro:property name="abad_offset_z" value="0.06046"/>
    <xacro:property name="abad_R_offset_x" value="-0.00045"/>
    <xacro:property name="abad_R_offset_y" value="-0.09949"/>
    <xacro:property name="abad_R_offset_z" value="0.06046"/>

    <!-- Hip joint position -->
    <xacro:property name="hip_offset_x" value="-0.0416"/>
    <xacro:property name="hip_offset_y" value="0.0681"/>
    <xacro:property name="hip_offset_z" value="0.0"/>
    <xacro:property name="hip_R_offset_x" value="-0.0416"/>
    <xacro:property name="hip_R_offset_y" value="-0.0681"/>
    <xacro:property name="hip_R_offset_z" value="0.0"/>

    <!-- Yaw joint position -->
    <xacro:property name="yaw_offset_x" value="0.0416"/>
    <xacro:property name="yaw_offset_y" value="0.0"/>
    <xacro:property name="yaw_offset_z" value="-0.1142"/>
    <xacro:property name="yaw_R_offset_x" value="0.0416"/>
    <xacro:property name="yaw_R_offset_y" value="-0.0"/>
    <xacro:property name="yaw_R_offset_z" value="-0.1142"/>

    <!-- Knee joint position -->
    <xacro:property name="knee_offset_x" value="0.0"/>
    <xacro:property name="knee_offset_y" value="-0.03432"/>
    <xacro:property name="knee_offset_z" value="-0.2366"/>

    <!-- Foot joint position -->
    <xacro:property name="foot_offset_x" value="0.0"/>
    <xacro:property name="foot_offset_y" value="0.07148"/>
    <xacro:property name="foot_R_offset_y" value="-0.07148"/>
    <xacro:property name="foot_offset_z" value="-0.35"/>

    <!-- Joint limits -->
    <!-- Abad joint limits -->
    <xacro:property name="abad_lower" value="-3.141592653589793"/>
    <xacro:property name="abad_upper" value="2.600540585471551"/>
    <xacro:property name="abad_effort" value="130"/>
    <xacro:property name="abad_velocity" value="12.57"/>

    <!-- Hip joint limits -->
    <xacro:property name="hip_L_lower" value="-0.2617993877991494"/>
    <xacro:property name="hip_L_upper" value="2.9670597283903604"/>
    <xacro:property name="hip_R_lower" value="-2.9670597283903604"/>
    <xacro:property name="hip_R_upper" value="0.2617993877991494"/>
    <xacro:property name="hip_effort" value="130"/>
    <xacro:property name="hip_velocity" value="12.57"/>

    <!-- Yaw joint limits -->
    <xacro:property name="yaw_L_lower" value="-0.5235987755982988"/>
    <xacro:property name="yaw_L_upper" value="4.625122517784973"/>
    <xacro:property name="yaw_R_lower" value="-4.625122517784973"/>
    <xacro:property name="yaw_R_upper" value="0.5235987755982988"/>
    <xacro:property name="yaw_effort" value="60"/>
    <xacro:property name="yaw_velocity" value="14.66"/>

    <!-- Knee joint limits -->
    <xacro:property name="knee_lower" value="-0.5235987755982988"/>
    <xacro:property name="knee_upper" value="2.6179938779914944"/>
    <xacro:property name="knee_effort" value="60"/>
    <xacro:property name="knee_velocity" value="14.66"/>

    <!-- Foot joint limits -->
    <xacro:property name="foot_lower" value="-1.6929693744344996"/>
    <xacro:property name="foot_upper" value="1.6929693744344996"/>
    <xacro:property name="foot_effort" value="40"/>
    <xacro:property name="foot_velocity" value="31.83"/>

    <!-- Hip joint axis for left and right legs -->
    <xacro:property name="hip_axis_x" value="1"/>
    <xacro:property name="hip_axis_y" value="0"/>
    <xacro:property name="hip_axis_z" value="0"/>

    <!-- Yaw joint axis for left and right legs -->
    <xacro:property name="yaw_axis_x" value="0"/>
    <xacro:property name="yaw_axis_y" value="0"/>
    <xacro:property name="yaw_axis_z" value="1"/>

</robot> 