<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="leg_ros2_control_interface" params="leg_name">

        <joint name="abad_${leg_name}_Joint">
            <command_interface name="position">
                <param name="min">-2.679429467661695</param>
                <param name="max">3.062703771399649</param>
            </command_interface> 
            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-140</param>
                <param name="max">140</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="hip_${leg_name}_Joint">
            <command_interface name="position">
                <xacro:if value="${leg_name == 'L'}">
                    <param name="min">-0.2605776573227534</param>
                    <param name="max">2.1131489961203007</param>
                </xacro:if>
                <xacro:if value="${leg_name == 'R'}">
                    <param name="min">-2.1131489961203007</param>
                    <param name="max">0.2605776573227534</param>
                </xacro:if>
            </command_interface> 
            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-140</param>
                <param name="max">140</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="yaw_${leg_name}_Joint">
            <command_interface name="position">
                <xacro:if value="${leg_name == 'L'}">
                    <param name="min">-2.705260340591211</param>
                    <param name="max">1.4835298641951802</param>
                </xacro:if>
                <xacro:if value="${leg_name == 'R'}">
                    <param name="min">-1.4835298641951802</param>
                    <param name="max">2.705260340591211</param>
                </xacro:if>
            </command_interface> 
            <command_interface name="velocity">
                <param name="min">-40</param>
                <param name="max">40</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-40</param>
                <param name="max">40</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="knee_${leg_name}_Joint">
            <command_interface name="position">
                <param name="min">-3.5421457169224917</param>
                <param name="max">1.6938420390604967</param>
            </command_interface> 
            <command_interface name="velocity">
                <param name="min">-20</param>
                <param name="max">20</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-140</param>
                <param name="max">140</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="foot_${leg_name}_Joint">
            <command_interface name="position">
                <param name="min">-1.2482594810263443</param>
                <param name="max">2.230356251123554</param>
            </command_interface> 
            <command_interface name="velocity">
                <param name="min">-40</param>
                <param name="max">40</param>
            </command_interface>
            <command_interface name="effort">
                <param name="min">-40</param>
                <param name="max">40</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

    </xacro:macro>

</robot> 